# PANDAS

In [1]:
import pandas as pd

In [2]:
# Creación de una serie
s = pd.Series(['Matemáticas', 'Historia', 'Economía',' Programación', 'Inglés'], dtype = 'string')
print(s)

0      Matemáticas
1         Historia
2         Economía
3     Programación
4           Inglés
dtype: string

In [3]:
# Creación de una serie a partir de un diccionario
s = pd.Series({'Matemáticas' : 6.0, 'Economía' : 4.5, 'Programación' : 8.5})
print(s)

Matemáticas     6.0
Economía        4.5
Programación    8.5
dtype: float64

In [6]:
# Atributos de una serie
s = pd.Series([1,2,3,3,3,4,4,4,4])
s.size

9

In [7]:
s.index

RangeIndex(start=0, stop=9, step=1)

In [8]:
s.dtype

dtype('int64')

In [10]:
# Acceso por posición
s = pd.Series({'Matemáticas' : 6.0, 'Economía' : 4.5, 'Programación' : 8.5})
s[1:3]

Economía        4.5
Programación    8.5
dtype: float64

In [11]:
s['Economía']

np.float64(4.5)

In [13]:
s[['Programación', 'Matemáticas']]

Programación    8.5
Matemáticas     6.0
dtype: float64

In [15]:
# Aplicar operaciones a una serie
s = pd.Series([1,2,3,4])
s * 202142638

0    202142638
1    404285276
2    606427914
3    808570552
dtype: int64

In [16]:
s % 2

0    1
1    0
2    1
3    0
dtype: int64

In [17]:
s = pd.Series(['a', 'b', 'c'])
s * 5

0    aaaaa
1    bbbbb
2    ccccc
dtype: object

In [19]:
# Aplicar funciones a una serie
from math import log

s = pd.Series([1,2,3,4])
s.apply(log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
dtype: float64

In [20]:
s = pd.Series(['a', 'b', 'c'])
s.apply(str.upper)

0    A
1    B
2    C
dtype: object

In [21]:
# Filtrar una serie
s = pd.Series({'Matemáticas' : 6.0, 'Economía' : 4.5, 'Programación' : 8.5})
print(s[s > 5])

Matemáticas     6.0
Programación    8.5
dtype: float64

In [22]:
# Ordenar una serie
s = pd.Series({'Matemáticas' : 6.0, 'Economía' : 4.5, 'Programación' : 8.5})
print(s.sort_values())

Economía        4.5
Matemáticas     6.0
Programación    8.5
dtype: float64

In [23]:
print(s.sort_index(ascending = False))

Programación    8.5
Matemáticas     6.0
Economía        4.5
dtype: float64

In [26]:
# Eliminar datos desconocidos
import numpy as np

s = pd.Series(['a', 'b', None, 'c', np.nan, 'd'])
s

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object

In [27]:
s.dropna()

0    a
1    b
3    c
5    d
dtype: object